@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);


/***** Error ******/
.err {
    color: darkred;
}

.nav-link {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
    font-size: 18px;
}

.nav-link:hover {
    color: white!important;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    position: relative;
    padding-top: 64px;
}

div.border {
    border: 2px solid #c50c0c!important;
}

form.login {
    padding: 5%;
}

.submit-login {
    background-color: black!important;
    width: 4em;
}

.submit-login:hover {
    background-color: #a10909!important;
}

